@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@700&family=Notable&display=swap');

//======= navbar =========

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: $primary-color !important;
}

*{
    color: $sub-color;
}

// ######### section heading ##########

.sec__head{    
    color: $tertiary-color;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 4rem 0rem;
}

// ==== background animation ======

.background__animate{
    

    &__1{
        z-index: +100;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: $tertiary-color, $alpha: 0.2);
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    &__1{
        animation: circle 15000ms infinite 4000ms;
        -webkit-animation: circle 15000ms infinite 4000ms;
}

    &__2{
        z-index: +100;
        position: fixed;
        top: 5rem;
        right: 2rem;
        width: 0;
        height: 0;
        border-left : 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-top: 4rem solid rgba($color: $tertiary-color , $alpha: 0.2);  
    }

    &__2{
        animation: trianlge 13000ms infinite;
        -webkit-animation: trianlge 13000ms infinite;
    }

    &__2{
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
    }

@keyframes circle {
    0%{
      transform: translate(0px , 0px);
      -webkit-transform: translate(0px , 0px);
      -moz-transform: translate(0px , 0px);
      -ms-transform: translate(0px , 0px);
      -o-transform: translate(0px , 0px);
}

    30%{
        transform: translate(1200px , 500px);
        -webkit-transform: translate(1200px , 500px);
        -moz-transform: translate(1200px , 500px);
        -ms-transform: translate(1200px , 500px);
        -o-transform: translate(1200px , 500px);
}
   70%{
        transform: translate(0px , 500px);
        -webkit-transform: translate(0px , 500px);
        -moz-transform: translate(0px , 500px);
        -ms-transform: translate(0px , 500px);
        -o-transform: translate(0px , 500px);
}

    100%{
        transform: translate(0rem , 0rem);
        -webkit-transform: translate(0rem , 0rem);
        -moz-transform: translate(0rem , 0rem);
        -ms-transform: translate(0rem , 0rem);
        -o-transform: translate(0rem , 0rem);
}
}

@keyframes trianlge {
    0%{
      transform: translate(0px , 0px);
      -webkit-transform: translate(0px , 0px);
      -moz-transform: translate(0px , 0px);
      -ms-transform: translate(0px , 0px);
      -o-transform: translate(0px , 0px);
}

    10%{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}

    50%{
        transform: translate(-1200px , 500px);
        -webkit-transform: translate(-1200px , 500px);
        -moz-transform: translate(-1200px , 500px);
        -ms-transform: translate(-1200px , 500px);
        -o-transform: translate(-1200px , 500px);
    }

    90%{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
}

    100%{
        transform: translate(0rem , 0rem);
        -webkit-transform: translate(0rem , 0rem);
        -moz-transform: translate(0rem , 0rem);
        -ms-transform: translate(0rem , 0rem);
        -o-transform: translate(0rem , 0rem);
}
}


.sociel{
    width: 5rem !important ;
    height: 14rem;
    z-index: +10;
    position: fixed;
    top: 40vh;
    right: 0rem !important;
    overflow: hidden;


    i{
        transition: 500ms;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        -ms-transition: 500ms;
        -o-transition: 500ms;
    }
    
    i{
        position: relative;
        right: 100rem;
        color: $tertiary-color;
        font-size: 40px;
        margin-bottom: 1rem;
        opacity: 0.3;

        &:hover{
            opacity: 1;
        }
    }
}

.mail__num__container{
    z-index: +100;
    display: none;
    align-items: center ;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: rgba(0,0,0,0.4);

    .mail__num__module{
        height: fit-content;
        width: 30rem;
        background-color: white;
        margin: auto;
        padding-bottom: 3rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    .close__btn{
        position: relative ;
        left: 12rem;
        top: 1rem;
        font-size: 28px;
    }

    .mail__num__head{
        color:$tertiary-color;
        font-weight: 700;
        margin: -1.2rem auto 2rem  auto !important;
    }


    .info__container{
        display: flex;
        justify-content: space-between;
        padding:0rem 2rem;
        margin: auto;

        .mail__num__platform{
            color: $tertiary-color ;
        }

        .mail__num__text{
            color: $secondary-color;
            margin-top: .5rem;
        }

        .mail__num__copy{
            text-decoration: none;
            position: relative;
            top: .5rem;
        }
    }


}



nav{
    background-color: $primary-color !important;
    .navbar-nav{
        margin-left: 35%;

        .nav-item{
            margin-left: 2rem;

          
        }
    }


    
    a{
        color: $sub-color !important;
        font-size: 20px;
        font-weight: 500;

          &:hover{
                color: $tertiary-color !important;
                transition: 500ms;
                -webkit-transition: 500ms;
                -moz-transition: 500ms;
                -ms-transition: 500ms;
                -o-transition: 500ms;
            }   
    }
}

// =================  home ==========

.home{
    background-color: $primary-color;
    min-height: 85vh;
    width: 100%;
    overflow: hidden;

    &__img{
        background-color: #C7C6CE ;
        background-image: url(../assets/imgs/my-Image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        z-index: +1;
        overflow: hidden;
        position: relative ;
        top: 2.5rem ;
        height: 18rem;
        width: 20rem !important;
        border-radius: 100%;
        animation: imgpopup 2200ms ease-in-out;
        -webkit-animation: imgpopup 2200ms ease-in-out;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
}

    &__span{
       font-size: 22px;
        margin-bottom: .6rem;
    }

    &__h{
        color: $tertiary-color;
        font-size: 40px;
        letter-spacing: 5px;
        font-weight: 800;


        span {
            color: $tertiary-color;
            position: relative;
        }
            #home__char1{ animation: rotate 1200ms ; -webkit-animation: rotate 1200ms ; }      
            #home__char2{ animation: rotate 1200ms 100ms ; -webkit-animation: rotate 1200ms 100ms ; }      
            #home__char3{ animation: rotate 1200ms 200ms; -webkit-animation: rotate 1200ms 200ms; }      
            #home__char4{ animation: rotate 1200ms 300ms ; -webkit-animation: rotate 1200ms 300ms ; }      
            #home__char5{ animation: rotate 1200ms 400ms; -webkit-animation: rotate 1200ms 400ms; }      
            #home__char6{ animation: rotate 1200ms 500ms; -webkit-animation: rotate 1200ms 500ms; }      
            #home__char7{ animation: rotate 1200ms 600ms; -webkit-animation: rotate 1200ms 600ms; }
            #home__char8{ animation: rotate 1200ms 700ms; -webkit-animation: rotate 1200ms 700ms; }
            #home__char9{ animation: rotate 1200ms 800ms; -webkit-animation: rotate 1200ms 800ms; }      
            #home__char10{ animation: rotate 1200ms 900ms; -webkit-animation: rotate 1200ms 900ms; }      
            #home__char11{ animation: rotate 1200ms 1000ms; -webkit-animation: rotate 1200ms 1000ms; }      
            #home__char12{ animation: rotate 1200ms 1000ms; -webkit-animation: rotate 1200ms 1000ms; }      
            #home__char13{ animation: rotate 1200ms 1100ms; -webkit-animation: rotate 1200ms 1100ms; }      
            #home__char14{ animation: rotate 1200ms 1200ms; -webkit-animation: rotate 1200ms 1200ms; }      
            #home__char15{ animation: rotate 1200ms 1300ms; -webkit-animation: rotate 1200ms 1300ms; }      
            #home__char16{ animation: rotate 1200ms 1400ms; -webkit-animation: rotate 1200ms 1400ms; }      
            #home__char17{ animation: rotate 1200ms 1500ms; -webkit-animation: rotate 1200ms 1500ms; }          
    }

    &__p{
        font-size: 22px;
        
    }

    &__btn__container{
        height: 10rem;
        overflow: hidden;


        .home__proj__btn{
            position: relative;
            text-decoration: none;
            display: grid;
            align-items: center;
            justify-content: center;
            width: 12rem ;
            height: 2.5rem;
            background-color: $tertiary-color;
            color: $primary-color;
            border-color: $sub-color !important;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            animation: popup 2000ms ease-in-out;
            -webkit-animation: popup 2500ms ease-in-out;

        }
        .home__hire__btn{
            display: grid;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 10rem !important;
            height: 2.5rem;
            background-color: $primary-color;
            color: $sub-color;
            margin-left: 1rem;
            transition: 500ms;
            text-decoration: none;
            border: 2px solid $sub-color ;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            animation: popup 2500ms ease-in-out  ;
            -webkit-animation: popup 3000ms ease-in-out  ;
}
    }

}

@keyframes popup {
    0% {
        bottom: -40rem;     
    }

    75% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
}

    100% {
        bottom: 0rem;
}
}

@keyframes imgpopup {
    0% {
        top: 8rem;
        right: -50rem;
        transform: rotate(-60deg) ;
        -webkit-transform: rotate(-60deg) ;
        -moz-transform: rotate(-60deg) ;
        -ms-transform: rotate(-60deg) ;
        -o-transform: rotate(-60deg) ;
}

    100%{
        top: 0;
        right: 0;
    }
}

@keyframes rotate {
    0%{opacity : 1; }
    25%{opacity : .2;}
    50%{opacity : .5;}
    75%{opacity : .7;}
   100%{opacity : 1; }
}


// ======= About section =========

.about{
    margin-top: 5rem;
    min-height: 92vh !important;

    &__p{
        padding: 1rem;
        font-size: 20px;
    }

    &__grid{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;

        .grid__item{
            padding: .25rem;
            width: 8rem;
            height: 2rem;
            font-weight: 600;
            background-color: $tertiary-color;
            color: $primary-color;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }
    }

    &__img{
        height: 20rem;
        width: 30rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

//######### PROJECTS #########

.projects__demo{
    display: none;
    z-index: +1;
    position: fixed;
    width: 100%;
    height: 100% ;
    background-color: rgba($color: #000000, $alpha: .4);

    .container{
        width: 90%;
        height: 80%;
        transform: translate(0% , 8%);
        -webkit-transform: translate(0% , 8%);
        -moz-transform: translate(0% , 8%);
        -ms-transform: translate(0% , 8%);
        -o-transform: translate(0% , 8%);
}

    button{
        background-color: transparent   ;
        border-color: transparent;

        i{
            font-size: 40px;
        }
    }

    video{
        z-index: +10;
        position: absolute;
        top: 0;
        left: 0;
    }
}




.projects{
    min-height: 100vh;

    .hidden{
        display: none !important;
    }

    .active{
        background-color: $tertiary-color !important;
        border-color: $tertiary-color;
        color: $primary-color !important;
    }

    &__tabs{
        margin:auto;
        border : none;
        width: 20rem;

        &__links{
            margin: 0rem 1rem;
            color: $sub-color !important;
            font-size: 18px;
        }
    }

    &__img{
        position: relative;
        top: -2rem;
        width: 100%;
        height: 25rem;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    &__container{
        width: 20rem;
        height: 20rem;
        border: 1px solid $sub-color;
        overflow: hidden;

        button{
            background-color: transparent;
            border-color: transparent;
        }

        .projects__icons{
            position: relative;
            display: flex;
            justify-content: space-evenly;

            a{
                text-decoration: none;
            }
        }

        .porjects__icon{
            font-size: 35px;
        }

        .projects__icons__p{
           font-size: 14px !important;
           border: none;
        }

        &:hover{
            background: rgba($color: #000000, $alpha: .25);
        }

    }
    
    &__container{
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}

    &__h{
        margin-bottom: 2rem;
        font-family: 'Notable', sans-serif;
    }

    &__cont__p{
        font-size: 15px;
        font-weight: 400;
    }

    &__container{
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    &__cpy{
        position: relative;
        bottom: -2rem;
        border-top: 1px solid;
        padding-top: .5rem;


    }
}



// =======CONTACT ME ==========

.contact{
    margin-top: 12rem;
    width: 100%;
    min-height: 100vh;
    background-color: $primary-color;

    &__hdr{
        color: $tertiary-color;
        font-weight: 700;
        letter-spacing: 2px;
    }



    &__inpt{
        background-color: transparent;
        border-color: rgba($color: $sub-color, $alpha: .2) !important;
        color: $sub-color !important;
        height: 3rem;
        margin-top: 1rem;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    &__inpt__msg{
        background-color: transparent;
        border-color: rgba($color: $sub-color, $alpha: .2) !important;
        color: $sub-color !important;
        margin-top: 1rem;
        height: 10rem;
        width: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

@media (max-width: 1000px) {
    .about__div__img{
        display: none;
    }

    .about__img{
        display: none;
    }
}

@media (max-width: 800px) {
    .home__img{
        height: 11rem;
        width: 12rem !important ;
        margin: 3rem 0rem;
    }

    .about__grid{
        grid-template-columns:  auto auto;
    }

    .sociel{
        width: 2rem;
    }
}

@media (max-width: 520px) {
    .close__btn{
        left: 7rem !important;  
    }

    .info__container{
        padding: 0rem .5rem !important;
        margin: 0rem !important;
    }

    .mail__num__module{
        width: 19rem !important;
    }
    .mail__num__platform{
        font-size: 15px !important;
        margin: 3rem auto !important;
    }
    .mail__num__text{
        font-size: 12px;
        margin-top: 3rem !important;
    }
    .mail__num__copy{
        top: 2.8rem !important;
    }
}

@media (max-width: 370px) {
    .home__img{
        height: 10rem;
        width: 10rem;
    }
}
